<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l4 m4 s12">
          <h5 class="black-text"></h5>
          <ul>
            <li><a class="black-text" href="#!">yritys</a></li>
            <li><a class="black-text" href="#!">yhteystiedot</a></li>
            <li><a class="black-text" href="#!">Sijoittajille</a></li>            
          </ul>
        </div>
        <div class="col l4 m4 s12">
          <h5 class="black-text"></h5>
          <ul>
            <li class="center-align"><a class="black-text" href="#!">WorkIN.fi</a></li>
            <li class="center-align"><a class="black-text" href="#!">Kysymyksiä ja vastauskia</a></li>
            <li class="center-align"><a class="black-text" href="#!">Ohjeita</a></li>            
          </ul>
        </div>
        <div class="col l4 m4 s12">
          <h5 class="black-text"></h5>
          <ul>
            <li><a class="black-text" href="#!">Yrityksille</a></li>
            <li><a class="black-text" href="#!">Yksityisille</a></li>
            <li><a class="black-text" href="#!">Sopimusasiakkaille</a></li>            
          </ul>
        </div>
      </div>            
    </div>
    <div class="footer-copyright">
      <div class="container">
          <p class="center-align black-text"> &copy; 2018 </p>
      </div>
    </div>
  </footer>