
section.section-title {
    margin: 10px 0;
}
#home-title {
    height: 220px;
    position: relative;    
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center
}

.images {
    margin-bottom: 20px;
}
images > .row {
    padding: 0;
    margin: 0;
}

.images .image {
    padding: 10px 0;     
    vertical-align: center; 
    cursor: pointer;    
}

.images .image img {
    display: block;
    height: 250px;
    width: 250px;
    margin: 0 auto;    
}

.images .image p {
    font-size: 1.4rem;   
    text-align: center; 
    margin-top: 5px;
} 

 