<section class="section-title">
    <div class="container">
        <div id="home-title">
            <div class="row" >
                <div id="title" class="col s12 m12 l12">
                    <h5>Julkaise keikka, valitse tekijä, varaa raha, työ suoritettu, kuittaa.</h5>
                    <h5>Koko homma oli siinä!</h5>
                </div>            
            </div>
        </div>

        <div class="images">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12 m4 l4 image">
                            <img src="../../assets/images/work2.jpg" alt="" class="circle responsive-img" routerLink="/jobs"> 
                            <p>KEIKAT</p>
                        </div>            
                        <div class="col s12 m4 l4 image">
                            <img src="../../assets/images/publish.jpg" alt="" class="circle responsive-img">
                            <p>JULKAISE</p>
                        </div>
                        <div class="col s12 m4 l4 image">
                            <img src="../../assets/images/work3.jpg" alt="" class="circle responsive-img">   
                            <p>TEKIJÄT</p>             
                        </div>
                    </div>
                </div>
            </div> 
        </div>        
        
        <div class="row" id="video-clip">
            <div class="col s12">
                <video class="responsive-video" autoplay loop >
                    Your browser does not support the &lt;video&gt; tag.
                    <source [src]="videoClipPath" type="video/mp4"/>
                </video>
            </div>                
        </div>
        
    </div>       
</section>